$yellow: #FCCF08;
$main: #1B1B1B;

.user-menu {
    background-color: $main;
    position: relative;
    cursor: pointer;

    ul {
        position: absolute;
        top: 2em;
        right: 0px;
        margin: 0;
        padding: 0;
        background: $main;
        width: 200px;
    
        li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            padding: 5px 10px;
            color: $yellow;
        } 
    }   
}
